<%= form_with model: counter do |form| %>
  <% if counter.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(counter.errors.count, "error") %> prohibited this counter from being saved:</h2>
      <ul>
        <% counter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
